Repository huggingface/optimum-benchmark, pull requests merged in 2024-09, with the labels that each got.

#269 Multi-gpu vllm
  .github/workflows/test_cli_cuda_vllm.yaml
  optimum_benchmark/backends/vllm/config.py
  optimum_benchmark/trackers/energy.py
  optimum_benchmark/trackers/latency.py
  optimum_benchmark/trackers/memory.py
  tests/configs/_vllm_pp_.yaml
  tests/configs/_vllm_tp_.yaml
  tests/configs/cuda_inference_vllm_gpt2.yaml
  tests/configs/cuda_inference_vllm_gpt2_pp.yaml
  tests/configs/cuda_inference_vllm_gpt2_tp.yaml
Labels: vllm

#271 Allow multiple runs and handle connection communication errors
  .github/workflows/test_cli_misc.yaml
  optimum_benchmark/launchers/base.py
  optimum_benchmark/launchers/inline/launcher.py
  optimum_benchmark/launchers/process/launcher.py
  optimum_benchmark/launchers/torchrun/launcher.py
  optimum_benchmark/process_utils.py
  optimum_benchmark/scenarios/inference/scenario.py
  optimum_benchmark/scenarios/training/scenario.py
  optimum_benchmark/trackers/energy.py
  optimum_benchmark/trackers/latency.py
  optimum_benchmark/trackers/memory.py
  tests/test_cli.py
Labels: misc, api

#273 Removing barriers
  .github/workflows/test_api_cpu.yaml
  .github/workflows/test_api_cuda.yaml
  .github/workflows/test_api_misc.yaml
  .github/workflows/test_api_rocm.yaml
  .github/workflows/test_cli_cpu_ipex.yaml
  .github/workflows/test_cli_cpu_llama_cpp.yaml
  .github/workflows/test_cli_cpu_neural_compressor.yaml
  .github/workflows/test_cli_cpu_onnxruntime.yaml
  .github/workflows/test_cli_cpu_openvino.yaml
  .github/workflows/test_cli_cpu_py_txi.yaml
  .github/workflows/test_cli_cpu_pytorch.yaml
  .github/workflows/test_cli_cuda_onnxruntime.yaml
  .github/workflows/test_cli_cuda_py_txi.yaml
  .github/workflows/test_cli_cuda_pytorch.yaml
  .github/workflows/test_cli_cuda_tensorrt_llm.yaml
  .github/workflows/test_cli_cuda_torch_ort.yaml
  .github/workflows/test_cli_cuda_vllm.yaml
  .github/workflows/test_cli_misc.yaml
  .github/workflows/test_cli_rocm_pytorch.yaml
  optimum_benchmark/trackers/energy.py
  optimum_benchmark/trackers/latency.py
  optimum_benchmark/trackers/memory.py
  tests/configs/_inference_.yaml
Labels: multi_gpu

#275 Distributed trt-llm
  .github/workflows/test_cli_cuda_pytorch.yaml
  .github/workflows/test_cli_cuda_tensorrt_llm.yaml
  .github/workflows/test_cli_cuda_torch_ort.yaml
  .github/workflows/test_cli_cuda_vllm.yaml
  .github/workflows/test_cli_misc.yaml
  .github/workflows/test_cli_rocm_pytorch.yaml
  optimum_benchmark/launchers/torchrun/launcher.py
  tests/configs/_deepspeed_inference_.yaml
  tests/configs/_tensorrt_llm_pp_.yaml
  tests/configs/_tensorrt_llm_tp_.yaml
  tests/configs/cuda_inference_tensorrt_llm_pp.yaml
  tests/configs/cuda_inference_tensorrt_llm_tp.yaml
  tests/test_cli.py
Labels: misc

#279 Pass backend name to EnergyTracker in Training scenario
  optimum_benchmark/scenarios/training/scenario.py
  tests/test_api.py
Labels: api
