Repository huggingface/optimum-benchmark, pull requests merged in 2024-11, with the labels that each got.

#296 Image Text To Text Support
  examples/pytorch_vlm.yaml
  optimum_benchmark/backends/base.py
  optimum_benchmark/backends/timm_utils.py
  optimum_benchmark/backends/transformers_utils.py
  optimum_benchmark/generators/base.py
  optimum_benchmark/generators/dataset_generator.py
  optimum_benchmark/generators/input_generator.py
  optimum_benchmark/generators/model_generator.py
  optimum_benchmark/generators/task_generator.py
  optimum_benchmark/scenarios/inference/config.py
  optimum_benchmark/scenarios/inference/scenario.py
  optimum_benchmark/task_utils.py
  tests/configs/_image_text_to_text_.yaml
  tests/configs/cpu_inference_pytorch_image_text_to_text.yaml
  tests/test_api.py
Labels: cpu, cuda, misc

#293 Feat: reimplement vllm backend beam search using logprobs
  optimum_benchmark/backends/vllm/backend.py
Labels: vllm

#298 fix llamacpp and windows libuv
  optimum_benchmark/backends/base.py
  optimum_benchmark/backends/llama_cpp/backend.py
  optimum_benchmark/backends/pytorch/backend.py
  optimum_benchmark/launchers/torchrun/launcher.py
  tests/configs/_gguf_.yaml
  tests/test_cli.py
Labels: misc, llama_cpp
